
@use '../variables' as *;

body.show-sidebar {

    overflow: hidden;
    position: relative;
    &::before {
        content: '';
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        z-index: 999;
        transition: background-color .3s ease-in-out;
        pointer-events: none;
    }


    .header__sidebar {
        transform: translateX(135%);


    }
}

.header__sidebar {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 10rem;
    background-color: $color-bg-light;
    padding: 1rem 0;
    transform: translateX(250%);
    transition: transform 0.3s ease-in-out;
    z-index: 1000;

    &--links {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50%;
        gap: 1.5rem;
        font-size: 1.2rem;

    }

}