@use '../variables' as *;

.header {
    border-bottom: 1px solid rgb(244, 244, 244);
    padding: 1rem;
    max-width: 100%;
    margin: 0 auto;

    &__container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        &--logo {
            display: flex;
            align-items: center;
            gap: .4rem;

            img {
                width: 2rem;
            }

            span {
                font-family: $font-family-heading;
                font-size: 1rem;
                font-weight: 450;
            }
        }
        &--nav {
            img {
                width: 2rem;
            }
        }
    }
}