@use "../variables" as *;

.footer {
    background-color: $color-secondary;
    color: $color-text-white;
    padding: 3rem 1rem;
    text-align: center;

    &__container {
        max-width: 100%;
        margin: 0 auto;
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    &__info {
        h3 {
            font-family: $font-family-heading;
            font-size: 1.5rem;
            font-weight: 700;
            color: $color-text-white;
            margin-bottom: .5rem;
        }

        p {
            font-family: $font-family-body;
            font-size: 1rem;
            font-weight: 400;
            color: $color-text-light;
        }
    }

    &__social {
        display: flex;
        justify-content: center;
        gap: 1rem;
        padding: 1rem;

        a {
            display: inline-block;
            transition: transform .3s ease;
            &:hover {
                transform: translateY(-5px);
            }
        }
        img {
            width: 2rem;
            height: 2rem;
            filter: brightness(0) invert(1);
        }
    }

    &__copyright {
        p {
            font-size: .8rem;
            color: $color-text-light;
            margin-top: 1rem;
        }
    }
}