@use '../variables' as *;

.contact {
    background-color: $color-bg-white;
    padding: 2rem;

    &__container {
        max-width: 100%;
        margin: 0 auto;

        h2 {
            font-family: $font-family-heading;
            font-size: 2rem;
            font-weight: 700;
            color: $color-text-primary;
        }
        p {
            font-family: $font-family-body;
            font-size: 1rem;
            font-weight: 400;
            color: $color-accent;
        }
    }
    &__social {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        margin: 2rem 0;
    }
    &__social-link {
        display: flex;
        align-items: center;
        gap: .5rem;
        transition: transform .3s ease;
        &:hover {
            transform: translateY(-5px);
        }

        img {
            background-color: $color-bg-light;
            padding: .5rem;
            border-radius: 10px;
            width: 2rem;
            height: 2rem;
        }

        span {
            font-family: $font-family-body;
            font-size: 1rem;
            font-weight: 600;
            color: $color-text-primary;
        }   
    }

    &__form {
        border: 1px solid $color-bg-gray;
        padding: 2rem;
        border-radius: 10px;
        &-group {
            display: flex;
            flex-direction: column;
            gap: 1rem;
            margin-bottom: 1rem;
            width: 100%;
            label {
                font-family: $font-family-body;
                font-size: 1rem;
                font-weight: 600;
                color: $color-text-primary;
            }
            input {
                border: 1px solid $color-bg-gray;
                border-radius: 10px;
                padding: .5rem;
                font-family: $font-family-body;
                font-size: 1rem;
                font-weight: 400;
                color: $color-text-primary;
            }
            textarea {
                border: 1px solid $color-bg-gray;
                border-radius: 10px;
                padding: .5rem;
                font-family: $font-family-body;
                font-size: 1rem;
                font-weight: 400;
                color: $color-text-primary;
                resize: none;
            }
        }
        &-button {
            display: block;
            margin: 2rem auto 0;
            width: 100%;

            background-color: $color-primary;
            color: $color-text-white;
            padding: .5rem 1rem;
            border-radius: 10px;
            border: none;
            cursor: pointer;
            transition: background-color .3s ease, transform .3s ease, box-shadow .3s ease;
            &:hover {
                background-color: darken($color-primary, 10%);
                transform: translateY(-2px);
                box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            }
        }
    }
}

