@use "../variables" as *;

.hero {

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 50vh;
        gap: 1rem;

        &--text {
            font-size: 2rem;
            font-weight: 600;
            font-family: $font-family-heading;
            text-align: center;
            width: 100%;
        }

        &--img {
            width: 10rem;
            border-radius: 50%;    
            object-fit: cover;
        }
    }

    &__buttons {
        display: flex;
        gap: 1rem;
        justify-content: center;
        align-items: center;

        button {
            background-color: $color-primary;
            color: $color-text-white;
            padding: .4rem;
            border-radius: 5px;
            border: none;
            cursor: pointer;
            transition: all 0.3s ease;
        }

        button:nth-child(1) {
            font-size: 1.5rem;
            font-weight: 400;
            font-family: $font-family-body;
        }

        button:nth-child(2) {
            font-size: 2rem;
            font-weight: 600;
            font-family: $font-family-body;
        }
    }

}