@use '../variables' as *;

.skills {
    background-color: $color-bg-light;
    padding: 3.5rem 1rem;
    &__container {
        max-width: 100%;
        margin: 0 auto;
        &--text {
            h2 {
                font-size: 2rem;
                text-align: center;
                font-weight: 600;
                color: $color-secondary;
            }

            p {
                text-align: center;
                color: $color-accent;
                font-weight: 400;
                line-height: 1.6;
            }
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1rem;
        margin-top: 2rem;
    }
    &__items {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background-color: $color-bg-white;
        width: 10rem;
        height: 10rem;
        padding: 2rem;
        margin: 0 auto;

        border-radius: 50%;
        box-shadow: 20px 20px 60px #bebebe,
                    -20px -20px 60px #ffffff;

        img {
            width: 9rem;
            height: 9rem;
            
        }
        
        span {
            font-size: 1.5rem;
            color: $color-secondary;
        }
    }
}