@use '../variables' as font-base;

html {
    font-size: font-base.$font-size-base;
}

h1, h2, h3, h4, h5, h6 {
    font-family: font-base.$font-family-heading;
}
body, p, li, a {
    font-family: font-base.$font-family-body;
}